<head th:fragment="head_sistema">
    <title>Federações</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Google Fonts, font-Roboto -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fonts/roboto.css}"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <!-- MetisMenu CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/plugins/metisMenu/metisMenu.min.css}"/>
    <!-- Timeline CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/plugins/timeline.css}"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/sb-admin-2.css}"/>
    <!-- Morris Charts CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/plugins/morris.css}"/>
    <!-- Edit CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}"/>
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/fontawesome/css/font-awesome.min.css}"/>
</head>

<head th:fragment="head_login">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/sbadmin-2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/signin.css}"/>
</head>