<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head_login"></head>
<body class="text-center">
    <form th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <label for="username" class="sr-only">Usuário</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Usuário"
               required="required" autofocus="autofocus"/>
        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control"
               placeholder="Senha" required="required"/>

        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Fazer Login</button>

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Usuário e senha inválidos
        </div>
        <div th:if="${param.logout}" class="alert alert-info" role="alert">
            Você foi deslogado.
        </div>

    </form>

</body>
</html>
